<%=form_tag "/sessions" do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>
  <%= label_tag :password %>
  <%= text_field_tag :password %>

  <%=submit_tag "Log in!" %>
<%end%>


<a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=&state=QWERTYBERTY&redirect_uri=localhost:3000">Login Via Linked In</a>

