<h1>Upcoming Meetups</h1>
Find Meetups Groups that match your interest

<%= render "form" %>


<%unless @upcoming_meetup.nil? %>
  <table >
    <tr>
      <th>Status</th>
      <th>GroupName</th>
      <th>Date</th>
      <th><th>
    </tr>
    <% @from_meetup.each do |meetup| %>
    <tr>
      <td><%=meetup["status"]%></td>
      <td><%=meetup["group"]["name"]%></td>
      <td><%=Time.at(meetup["time"]/1000)%></td>
      <td><%= link_to "Add", user_tasks_path(params[:id], :title=>("Meetup: "+meetup["group"]["name"]) ), method: "post" %></td>
    </tr> 
    <% end %>
  </table>
<%end%>