<h1> Admin User Page </h1>

<table>
  <tr>
    <th></th>
    <th>Name </th>
    <th>Title </th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><img src="<%=user.photo_url%>" width="80" height="80"></td> 
    <td><%=link_to user.name, user_path(user.id) %></td>
    <td><%=user.title%></td>
    <td><%=link_to "Edit", edit_user_path(user.id) %></td>
    <td><%= link_to "Delete", user_path(user.id), method: "delete" %></td>
  </tr> 
  <% end %>
</table>