<%= form_for @user do |f| %>
  <%= f.label :name%>:
  <%= f.text_field :name%> <br \>

  <%= f.label :title%>:
  <%= f.text_field :title%> <br \>

  <%= f.label :email%>:
  <%= f.text_field :email%> <br \>

  <%= f.label :password%>:
  <%= f.text_field :password%> <br \>

  <%= f.submit "New User"%> <br \>
 <% end %> 

<%consumer_key = LI_CONSUMER_KEY%>
<%consumer_secret = LI_CONSUMER_SECRET%>

<a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=<%=consumer_key%>&state=DCEEFWF45453sdffef424&redirect_uri=http://localhost:3000/users/new">Login Via Linked In</a>

<a href="https://www.linkedin.com/uas/oauth2/accessToken?grant_type=authorization_code
&code=<%=params[:code]%>
&redirect_uri=http://localhost:3000/users/new
&client_id=<%=consumer_key%>
&client_secret=<%=consumer_secret%>">Authorize</a>

