<div id="dash_wrapper">
  <div class="person-header">
    <h1>  
      <%if @user.photo_url ==""%>
        <%= image_tag("default_photo.jpg", size: "80x80") %>
        <%else%>
         <img src="<%=@user.photo_url%>" width="80" height="80">
      <%end%>
      <%=@user.name%>
      <%=link_to image_tag("edit.png"), edit_user_path(@user.id)%>
    </h1>
  </div>
  <div class="workspace">
    <h2>User Tasks: </h2>
    <div class="table">
      <%= render "tasktable" %>
    </div>
    <div class="input">
      <%= render "taskform" %>
      <div class="partner">
        Search our Partners: 
        <%=link_to image_tag("meetup.png"), user_events_path(@user.id) %>
      </div>
    </div>
  </div>
  <div class="workspace">
    <h2>User Connections: </h2>
    <div class="table">
      <%= render "connectiontable" %>
    </div>
    <div class="input">
      <%= render "connectionform" %>
      <div class="partner">
        Search our Partners: 
        <a href="/users/<%= @user.id %>/liusers"><%=image_tag("LinkedIn.png", size: "30x30")%></a>
        <%=link_to image_tag("meetup.png"), user_groups_path(@user.id) %>
      </div>
    </div>
  </div>
</div>





















