<h1>
  <img src="<%=@user.photo_url%>" height="80" width="80" >
  <%=@user.name%>
  <%=link_to image_tag("edit.png"), edit_user_path(@user.id)%>


</h1>

<h2>User Tasks: </h2>
<div class="display"><%= render "tasktable" %> </div>

<div class="action"><%= render "taskform" %></div>
<br \>

<%=link_to "Search Meetup Groups", user_groups_path(@user.id) %>

<%=link_to "Search Meetup Events", user_events_path(@user.id) %>


<div class="separator"></div>

<h2>User Connections: </h2>
<div class="display"><%= render "connectiontable" %></div>

<div class="action"><%= render "connectionform" %></div>

<br \>
<div class ="action"><a href="/users/<%= @user.id %>/lilist">Linked In List</a></div>
