<h1><%=@user.name%></h1>

User Tasks: 
<table >
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>Notes</th>
    <th></th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%=task.t_type%></td>
    <td><%=task.title%></td>
    <td><%=task.notes%></td>
    <td><%=link_to "Delete", user_task_path(params[:id],task.id), method: "delete" %></td>
  </tr> 
  <% end %>
</table>

<a href="/users/<%= @user.id %>/meetupgroup">Search Meetup Groups</a> <br \>
<a href="/users/<%= @user.id %>/upcomingmeetup">Search Upcoming Meetups</a>



<%= form_for [@user, @task] do |f| %>
  <%= f.label :t_type %>
  <%= f.text_field :t_type %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :notes %>
  <%= f.text_field :notes %>

  <%= f.submit %>
<% end %>

User Connections: 
<table >
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <% @connections.each do |connection| %>
  <tr>
    <td><%=connection.c_type%></td>
    <td><%=connection.name%></td>
    <td><%=link_to "Delete", user_connection_path(params[:id],connection.id), method: "delete" %></td>
    <td><%= link_to "Add", user_tasks_path(params[:id], :title=>("Catch Up: "+connection.name) ), method: "post" %></td>
  </tr> 
  <% end %>
</table>

<%= form_for [@user, @connection] do |f| %>
  <%= f.label :c_type %>
  <%= f.text_field :c_type %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>

<a href="/users/<%= @user.id %>/lilist">Linked In List</a>





