<h1><%=@user.name%></h1>

<h2>User Tasks: </h2>
<%= render "tasktable" %>
<%= render "taskform" %>
<p>
<a href="/users/<%= @user.id %>/meetupgroup">Search Meetup Groups</a> <br \>
<a href="/users/<%= @user.id %>/upcomingmeetup">Search Upcoming Meetups</a>



<h2>User Connections: </h2>
<%= render "connectiontable" %>
<%= render "connectionform" %>
<p>
<a href="/users/<%= @user.id %>/lilist">Linked In List</a>