<h1>Linked In Connections:</h1>


<%if params[:code].nil? %>
 <%consumer_key = LI_CONSUMER_KEY%>
 <%consumer_secret = LI_CONSUMER_SECRET %>
 <a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=<%=consumer_key%>&state=DCEEFWF45453sdffef424&redirect_uri=http://localhost:3000/users/<%=session[:user_id]%>/lilist">Sign in through Linked In</a>
<%elsif%>
  <%= link_to "Authorize Linked In", user_tokens_path(params[:id]), method: "post"%> <br \>

<%end%>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>


<table >
  <tr>
    <th></th>
    <th>Name</th>
    <th>Location<th>
    <th>Headline</th>
    <th><th>
    <th><th>
    <th><th>
    <th><th>
  </tr>

<!-- ###PostGresSQL

  <% @liusers.each do |liuser| %>
  <tr>
    <td><img src="<%=liuser.picture_url%>"></td>
    <td><%=liuser.first_name+" "+liuser.last_name%></td>
    <td><%=liuser.headline%></td>
    <td><%= link_to "Connector", user_connections_path(params[:id], :name=>(liuser.first_name+" "+liuser.last_name), :picture_url=>liuser.picture_url, :c_type=>"Connector" ), method: "post" %></td>
    <td><%= link_to "Mentor", user_connections_path(params[:id], :name=>(liuser.first_name+" "+liuser.last_name), :picture_url=>liuser.picture_url, :c_type=>"Mentor" ), method: "post" %></td>
    <td><%= link_to "Peer", user_connections_path(params[:id], :name=>(liuser.first_name+" "+liuser.last_name), :picture_url=>liuser.picture_url, :c_type=>"Peer" ), method: "post" %></td>
  </tr> 
  <% end %>
</table>
 -->
<!-- ###Linked IN API -->

  <% @response.each do |liuser| %>
    <tr>
      <td><img src="<%=liuser["pictureUrl"]%>"></td>
      <td>
        <%if liuser["siteStandardProfileRequest"].blank?%>
          <%=liuser["firstName"]+" "+liuser["lastName"]%>
        <%else%>
          <%=link_to liuser["firstName"]+" "+liuser["lastName"], liuser["siteStandardProfileRequest"]["url"]%>

        <%end%>
      </td>
      <td>
        <%if liuser["location"].blank?%>
          <%="No Location Provided"%>
        <%else%>
          <%=liuser["location"]["name"]%>

        <%end%>
      </td>
      <td><%=liuser["headline"]%></td>
      <td><%= link_to "Connector", user_connections_path(params[:id], :name=>(liuser["firstName"]+" "+liuser["lastName"]), :picture_url=>liuser["pictureUrl"], :c_type=>"Connector" ), method: "post" %></td>
      <td><%= link_to "Mentor", user_connections_path(params[:id], :name=>(liuser["firstName"]+" "+liuser["lastName"]), :picture_url=>liuser["pictureUrl"], :c_type=>"Mentor" ), method: "post" %></td>
      <td><%= link_to "Peer", user_connections_path(params[:id], :name=>(liuser["firstName"]+" "+liuser["lastName"]), :picture_url=>liuser["pictureUrl"], :c_type=>"Peer" ), method: "post" %></td>
    </tr> 
    <% end %>
  </table>

