<h1>Linked In Connections:</h1>

<%= debug params %>


<%= link_to "Authorize Linked In", liusers_path, method: "post"%> <br \>



<table >
  <tr>
    <th></th>
    <th>Name</th>
    <th>Headline</th>
    <th><th>
  </tr>
  <% @liusers.each do |liuser| %>
  <tr>
    <td><img src="<%=liuser.picture_url%>"></td>
    <td><%=liuser.first_name+" "+liuser.last_name%></td>
    <td><%=liuser.headline%></td>
    <td><%= link_to "Add", user_connections_path(params[:id], :name=>(liuser.first_name+" "+liuser.last_name), :picture_url=>liuser.picture_url ), method: "post" %></td>
  </tr> 
  <% end %>
</table>
