<h1>Linked In Connections:</h1>


<%if params[:code].nil? %>
 <%consumer_key = LI_CONSUMER_KEY%>
 <%consumer_secret = LI_CONSUMER_SECRET %>
 <a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=<%=consumer_key%>&state=DCEEFWF45453sdffef424&redirect_uri=http://localhost:3000/users/<%=session[:user_id]%>/lilist">Sign in through Linked In</a>
<%else%>
  <%= link_to "Authorize Linked In", liusers_path, method: "post"%> <br \>

<%end%>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Name</th>
  </tr>
  <% @liadds.each do |add| %>  
  <tr>
    <td><img src="<%=add.picture_url%>"></td>
    <td><%=add.first_name%></td>
    <td><%=add.last_name%></td>
    <td></td>
  </tr> 
  <% end %>  
</table>



<table >
  <tr>
    <th></th>
    <th>Name</th>
    <th>Headline</th>
    <th><th>
    <th><th>
    <th><th>
    <th><th>
  </tr>
  <% @liusers.each do |liuser| %>
  <tr>
    <td><img src="<%=liuser.picture_url%>"></td>
    <td><%=liuser.first_name+" "+liuser.last_name%></td>
    <td><%=liuser.headline%></td>
    <td><%=link_to "TEST", liusers_connections_path(:user => liuser), method: "post"%></td>
    <td><%= link_to "Connector", user_connections_path(params[:id], :name=>(liuser.first_name+" "+liuser.last_name), :picture_url=>liuser.picture_url, :c_type=>"Connector" ), method: "post" %></td>
    <td><%= link_to "Mentor", user_connections_path(params[:id], :name=>(liuser.first_name+" "+liuser.last_name), :picture_url=>liuser.picture_url, :c_type=>"Mentor" ), method: "post" %></td>
    <td><%= link_to "Peer", user_connections_path(params[:id], :name=>(liuser.first_name+" "+liuser.last_name), :picture_url=>liuser.picture_url, :c_type=>"Peer" ), method: "post" %></td>
  </tr> 
  <% end %>
</table>
