<h1>Linked In Connections:</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%unless @response.nil? %>
<table >
  <tr>
    <th></th>
    <th>Name</th>
    <th>Location<th>
    <th>Headline</th>
    <th><th>
    <th><th>
    <th><th>
    <th><th>
  </tr>
  <% @response.each do |liuser| %>
    <tr>
      <td><img src="<%=liuser["pictureUrl"]%>"></td>
      <td>
        <%if liuser["siteStandardProfileRequest"].blank?%>
          <%=liuser["firstName"]+" "+liuser["lastName"]%>
        <%else%>
          <%=link_to liuser["firstName"]+" "+liuser["lastName"], liuser["siteStandardProfileRequest"]["url"]%>

        <%end%>
      </td>
      <td>
        <%if liuser["location"].blank?%>
          <%="No Location Provided"%>
        <%else%>
          <%=liuser["location"]["name"]%>

        <%end%>
      </td>
      <td><%=liuser["headline"]%></td>
      <td><%= link_to "Connector", user_connections_path(params[:user_id], 
            :connection=>{
              :name=>(liuser["firstName"]+" "+liuser["lastName"]), 
              :picture_url=>liuser["pictureUrl"], 
              :c_type=>"Connector"
            }
       ), method: "post" %></td>
      <td><%= link_to "Mentor", user_connections_path(params[:user_id],
         :connection=>{
              :name=>(liuser["firstName"]+" "+liuser["lastName"]), 
              :picture_url=>liuser["pictureUrl"], 
              :c_type=>"Mentor"
            }
       ), method: "post" %></td>
      <td><%= link_to "Peer", user_connections_path(params[:user_id], 
        :connection=>{
              :name=>(liuser["firstName"]+" "+liuser["lastName"]), 
              :picture_url=>liuser["pictureUrl"], 
              :c_type=>"Peer"
            }
       ), method: "post" %></td>
    </tr> 
    <% end %>
  </table>
<%end%>  
