<h1>Upcoming Events</h1>
Find Meetups Events to continue to grow

<%= render :partial =>"groups/form", locals: {path: "search"} %>


<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%unless @meetup.nil? %>
  <table >
    <tr>
      <th>What</th>
      <th>Hosted by:</th>
      <th>Where</th>
      <th>When</th>
      <th><th>
      <th><th>
      <th><th>
    </tr>
    <% @meetup.each do |meetup| %>
    <tr>
      <td><%=link_to meetup["name"], meetup["event_url"] %></td>
      <td><%=meetup["group"]["name"]%></td>
      <td>
        <%if meetup["venue"].blank? %>
        <%= "Must Join Via Meetup to See Info"%>
        <%else%>
        <%= meetup["venue"]["name"]+" ("+meetup["venue"]["address_1"]+")"%>
        <%end%>
      </td>
      <td><%=Time.at(meetup["time"]/1000).strftime("%A %Y-%m-%d %I:%M %p")%></td>
      
      <td><%= link_to "Discovery", user_tasks_path(params[:user_id], 
          :task=>{
            :title=>"Meetup: "+meetup["group"]["name"],
            :due_date=>Time.at( meetup["time"]/1000).strftime("%Y-%m-%d %I:%M %p") , 
            :t_type=>"Discovery"
            } 
          ), method:"post" %></td>
      <td><%= link_to "Radar", user_tasks_path(params[:user_id],
        :task=>{
            :title=>"Meetup: "+meetup["group"]["name"],
            :due_date=>Time.at( meetup["time"]/1000).strftime("%Y-%m-%d %I:%M %p") , 
            :t_type=>"Radar"
            } 
          ), method:"post" %></td>
      <td><%= link_to "Service", user_tasks_path(params[:user_id], :task=>{
            :title=>"Meetup: "+meetup["group"]["name"],
            :due_date=>Time.at( meetup["time"]/1000).strftime("%Y-%m-%d %I:%M %p") , 
            :t_type=>"Service"
            } 
          ), method:"post" %></td>
    </tr> 
    <% end %>
  </table>
<%end%>
