<h1>Upcoming Meetups</h1>

<%unless @event_meetup.nil? %>
  <table >
    <tr>
      <th>GroupName</th>
      <th>Date</th>
      <th><th>
      <th><th>
      <th><th>
    </tr>
    <% @event_meetup.each do |meetup| %>
    <tr>
      <td><%=meetup["group"]["name"]%></td>
      <td><%=Time.at(meetup["time"]/1000).strftime("%A %Y-%m-%d %I:%M %p")%></td>
      <td><%= link_to "Add Discovery", user_tasks_path(params[:user_id], :title=>("Meetup: "+meetup["group"]["name"]), :due_date=>Time.at(meetup["time"]/1000).strftime("%Y-%m-%d %I:%M %p"), :t_type=>"Discovery"), method: "post"%></td>
      <td><%= link_to "Add Radar", user_tasks_path(params[:user_id], :title=>("Meetup: "+meetup["group"]["name"]), :due_date=>Time.at(meetup["time"]/1000).strftime("%Y-%m-%d %I:%M %p"), :t_type=>"Radar" ), method: "post"%></td>
      <td><%= link_to "Add Service", user_tasks_path(params[:user_id], :title=>("Meetup: "+meetup["group"]["name"]), :due_date=>Time.at(meetup["time"]/1000).strftime("%Y-%m-%d %I:%M %p"), :t_type=>"Service" ), method: "post"%></td>
    </tr> 
    <% end %>
  </table>
<%end%>
