<!DOCTYPE html>
<html>
<head>
  <title>NetworkerApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= link_to "Home", root_path %> 
  <%= link_to("Dashboard", user_path(session[:user_id])) unless session[:user_id].nil? %> 
  <%= link_to("User List", users_path) if session[:superuser]==true %>
  <%= link_to "About Us", about_path %> 


  <div id="sign_in">
  <%= link_to("Login", sessions_path )if session[:user_id].nil? %>
  <%= link_to("Logout #{User.find_by(id: session[:user_id]).name}", sessions_path, method: "delete") unless session[:user_id].nil? %>
  </div>

</header>


<%= yield %>

</body>
</html>
